{# src/AppBundle/Resources/views/FOSUser/layout.html.twig #}

{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ key }}">
        {{ message|trans({}, 'FOSUserBundle') }}
      </div>
    {% endfor %}
  {% endfor %}

  {% block fos_user_content %}
  {% endblock fos_user_content %}

{% endblock %}
