{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
    <p>Numero de la semaine actuelle : {{numSem}}</p>
    <p>Heure de la semaine : {{numHeure}}</p>


  <a href="{{ path('agnez_core_classes') }}">Gerer les classes</a>

{% endblock %}
