{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div id="container_login">
        <h2>Bienvenue sur le logiciel de gestion de classe</h2>
        <p>Pour profiter de l'application vous devez vous identifier :</p>
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
    <div id="container_link_register">
        <p>Si vous n'avez pas d'identifiants, veuillez vous enregistrer :</p>
        <button class="btn btn-info"><a href="{{ path('fos_user_registration_register') }}">Creer un compte</a></button>
    </div>

    <div id="container_links_projet">
        <p>
            Suivez le projet sur :
            <button class="btn btn-warning"><a target="_blank" href="https://github.com/victoragn/P5V1">GitHub</a></button>
             et
            <button class="btn btn-danger"><a target="_blank" href="https://trello.com/b/5DOMWkim/gestion-de-classe">Trello</a></button>
        </p>
        <figure id="diagClasses">
            <img src={{ asset('bundles/agnezcore/img/ClassDiagram.jpg') }} alt="Diagramme de Classe composé de User, Classe, Eleve, EdtHeure et Event">
            <figcaption>Le diagramme de classe</figcaption>
        </figure>

    </div>


{% endblock fos_user_content %}
