{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}

    <button><a href="{{ path('agnez_core_initClasses') }}">Définir les classes</a></button>
    <button><a href="{{ path('agnez_core_choixClasse') }}">Définir les élèves</a></button>
    <button><a href="{{ path('agnez_core_edt') }}">Définir l'emploi du temps</a></button>

{% endblock %}
