{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
    {% if app.user.initialized==4 %}
        <button><a href="{{ path('agnez_core_homepage') }}">Retour à l'accueil</a></button>
    {% endif %}

    <p>Bienvenue dans les paramètres de l'application. Avant de pouvoir l'utiliser vous aller devoir initialiser votre projet.</p>
    <p>A moins que ce soit déjà fait, commencez par définir vos classes.</p>

    <button><a href="{{ path('agnez_core_initClasses') }}">Définir les classes</a></button>
    <button><a href="{{ path('agnez_core_choixClasse') }}">Définir les élèves</a></button>
    <button><a href="{{ path('agnez_core_edt') }}">Définir l'emploi du temps</a></button>

{% endblock %}
