{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
    <a class="btn btn-info" href="{{ path('agnez_core_edt') }}">Etape précédente (Emploi du temps)</a>
    {% if app.user.initialized == 4 %}
        <a class="btn btn-primary" href="{{ path('agnez_core_homepage') }}">Retour à l'accueil</a>
    {% endif %}

    <p>Vous avez maintenant définit vos classes, vos élèves et votre emploi du temps. Vous allez pouvoir initialiser votre année.</p>
    {% if app.user.initialized == 4 %}
        <p>ATTENTION : Toutes les anciennes heures de cours et évenements seront supprimés. Souhaitez-vous lancer l'initialisation ?</p>
    {% endif %}

    <a class="btn btn-success" href="{{ path('agnez_core_edt_init') }}">Lancer l'initialisation</a>



{% endblock %}
