{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
<button><a href="{{ path('agnez_core_homepage') }}">Retour à l'accueil</a></button>
  Choisissez une classe pour y entrer les élèves :

    <ul class="classes">
        {% if nomClasses|length==0 %}
            Veuillez aller ajouter des classes pour pouvoir y ajouter des élèves
            <button><a href="{{ path('agnez_core_classes') }}">Définir les classes</a></button>
        {%endif%}

        {% for classe in nomClasses %}

        <p>{{classe}}</p>
        <button class="gererClasse"><a href="{{ path('agnez_core_classeDetail', {'id': classe}) }}">Voir la classe</a></button>

        {% endfor %}
    </ul>

{% endblock %}
