{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
<button><a href="{{ path('agnez_core_homepage') }}">Retour à l'accueil</a></button>
  La gestion des classes

    <ul class="classes">
        {% for classe in nomClasses %}
        <p>{{classe}}</p>
        <button class="gererClasse"><a href="{{ path('agnez_core_classeDetail', {'id': classe}) }}">Voir la classe</a></button>

        {% endfor %}
    </ul>

{% endblock %}
