{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}

La classe en détail
{{ form_start(form) }}
{{ form_row(form.eleves) }}
<a href="#" id="add_eleve" class="btn btn-default">Ajouter un eleve</a>
{{ form_end(form) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var $container = $('div#agnez_corebundle_classe_eleves');
    var index = $container.find(':input').length;
    $('#add_eleve').click(function(e) {
      addEleve($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addEleve($container);
    } else {
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }
    function addEleve($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Eleve n°' + (index+1))
        .replace(/__name__/g,        index)
      ;
      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);
      addDeleteLink($prototype);
      $container.append($prototype);
      index++;
    }
    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
      $prototype.append($deleteLink);
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>

{% endblock %}
