{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}

  La gestion des classes

    {{ form_start(form) }}

    <ul class="classes">
        {% for classe in form.classes %}
            <li>{{ form_row(classe.name) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}

{% endblock %}
